<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyHqc4A6GgRXPx4ufoL/Z9R8JnCkU"
        crossorigin="anonymous">
    <title>User Documentation</title>
</head>
<body>

<div class="container mt-5">
    <h2>User Documentation</h2>

    <!-- Links with Documentation -->
    <div class="list-group mt-3">
        <!-- ... Previous links and documentation ... -->

        <!-- Eighth Link: Connect to WiFi Documentation -->
        <button class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#connectToWifiDoc">
            Connect to WiFi
        </button>
        <div id="connectToWifiDoc" class="collapse mt-2">
            <p>
                Clicking on the "Connect to WiFi" link opens a new page where you can enter the SSID and password of the WiFi 
                network you want to connect to. If the provided credentials are correct, the system will connect to the WiFi. 
                In case the entered WiFi is not found, a message will be displayed indicating that the entered WiFi was not found.
            </p>
        </div>

        <!-- Ninth Link: Ping to Host Documentation -->
        <button class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#pingToHostDoc">
            Ping to Host
        </button>
        <div id="pingToHostDoc" class="collapse mt-2">
            <p>
                Clicking on the "Ping to Host" link opens a new page where you can enter the IP address or domain of the host 
                you want to ping. If the entered information is correct, a graph displaying ping number and time will be shown. 
                Additionally, details such as host name, minimum, maximum, and average time along with packet loss will be listed.
            </p>
        </div>

        <!-- Tenth Link: Internet Speed Test Documentation -->
        <button class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#internetSpeedTestDoc">
            Internet Speed Test
        </button>
        <div id="internetSpeedTestDoc" class="collapse mt-2">
            <p>
                Clicking on the "Internet Speed Test" link initiates a test of the current network's internet speed. After the 
                test is complete, a link will be provided containing the results. Users can open the link to view details such 
                as download speed, upload speed, and other relevant information about the internet speed of the connected network.
            </p>
        </div>

        <!-- Continue adding links and documentation sections as needed -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-XrD4HZtAhe5JFh9Edsd9iZ9aVoMzys21pZlFv0nm6yAqI1rJkuvQ7o49XspwFfJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyHqc4A6GgRXPx4ufoL/Z9R8JnCkU"
    crossorigin="anonymous"></script>

</body>
  </html>
  
