<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi Scanner</title>
</head>
<body>
    <h1>Wi-Fi Scanner</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/block_function" method="post">
        <label for="ssid_to_block">SSID to block:</label>
        <input type="text" name="ssid_to_block" required>
        <button type="submit">Block</button>
    </form>
    <form action="/unblock_function" method="post">
        <label for="ssid_to_unblock">SSID to unblock:</label>
        <input type="text" name="ssid_to_unblock" required>
        <button type="submit">Unblock</button>
    </form>
   <form action="/more" method="post">
	<label for "ssid_for_more_info">SSID for more info:</label>
	<input type="text" name="ssid_for_more_info" required>
	<button type="submit">More Info</button>
   </form>
    <form action="/reset">
	<button type="submit">Reset</button>
   </form>
   <a href="/scan_wifi">Scan Wi-Fi</a>
  <br>
    <a href="/blocked_wifi">Blocked Wifi List</a>
</body>
</html>
