<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi Scan Result</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
	h1 {
	    text-align: center;
	    }
    </style>
</head>
<body>
    <h1>Wi-Fi Scan Result</h1>

    <table>
        <thead>
            <tr>
                <th>SSID</th>
                <th>Signal Strength</th>
                <th>Frequency</th>
		<th>Encryption key</th>
            </tr>
        </thead>
        <tbody>
            {% for ssid, details in wifi_info.items() %}
                <tr>
                    <td>{{ ssid }}</td>
                    <td>{{ details['Signal Strength']}}</td>
                    <td>{{ details['Frequency'] }}</td>
                    <td style="text-align:center;">{{ details['Encryption key'][0] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

